.d1{
    transition: .5s ease-in-out;
    /* border: 3px; */
    border-color: rgb(46, 158, 8);
    padding: 5px;
}
.d1:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05);
}